body {
    background-color: #F1F1F1;
}


.app-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 350px 1fr 280px;
    gap: 10px;
    padding: 20px;
    grid-template-areas:
    "header header header"
    "navbar main sidebar";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23)
}

.header .burger {
    display: none;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23)
}

.main {
    grid-area: main;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23)
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.23)
}

.nav-btn {
    width: 100%;
    padding: 8px;
    text-align: left;
    margin-bottom: 5px;
}

.logo {
    width: 10%;
    min-width: 140px;
}

.header {
    width: 100%;
}

.topbar-button {
    background-color: white;
    width: 100px;
    padding: 10px 0 10px 0;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: clamp(15px, 7%, 300px);
    width: 22%;
    align-items: center;


}


.input {
    border-radius: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.nav-container {
    margin-top: 15px;
}

.container-topNav {
    display: none;
}

.navbar a {
    display: block;
    padding: 4px 0;
}

.navbar h4 {
    margin-top: 20px;
    margin-bottom: 8px;
}

.layout-alt {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 350px 1fr 280px;
    gap: 10px;
    padding: 20px;
    grid-template-areas:
    "header header header"
    "main main sidebar";
}

.pages {
    padding: 20px;

}

.pages h2 {
    padding-bottom: 10px;
}

.pages h3 {
    padding: 15px 0 8px 0;
}

.box {
    display: flex;
    margin-top: 100px;
    height: auto;
    width: 70%;
    background-color: #F5F5F5;
    border-radius: 20px;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

}

.box button {
    padding: 8px 13px;
    border: none;
    background-color: #0088FF;
    border-radius: 36px;
    color: white;
    margin-right: 10px;
}


@media (max-width: 390px) {
    .pages {
        padding: 8px;
    }

    .topbar-button {
        display: none;
    }

    .logo {
        width: 50px;
    }

    .header {
        display: flex;
        gap: 15px;
    }

    .header .container {
        display: none;
    }

    .input {
        float: left;
        width: 90px;
    }

    .header .burger {
        display: block;
    }

    .app-layout {
        grid-template-rows: 70px auto 1fr 150px;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
          "header"
          "topbarNav"
            "main"
             "sidebar";
    }

    .container-topNav {
        grid-area: topbarNav;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        gap: 8px;
        align-items: center;
    }

    .topbar-button {
        display: block;
        min-width: 100px;
        padding: 10px;
        text-align: center;
        margin: 0 3px 0 3px;

    }

    .box {
        width: 100%;
        font-size: 1rem;
    }

    .box button span {
        display: none;

    }

    .box button {
        font-size: 1rem;
        padding: 4px 8px 4px 8px;
        margin-left: 5px;
    }

    .navbar.open {
        display: block;
    }

    .navbar.close {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 100px;
        z-index: 999;
        max-width: 100%;
        margin-right: 20px;
    }
}